<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>DeleteFilmController</servlet-name>
        <servlet-class>edu.sstu.controller.DeleteFilmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGenreController</servlet-name>
        <servlet-class>edu.sstu.controller.DeleteGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFilmController</servlet-name>
        <servlet-class>edu.sstu.controller.EditFilmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFilmController</servlet-name>
        <servlet-class>edu.sstu.controller.ShowFilmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGenreFilmController</servlet-name>
        <servlet-class>edu.sstu.controller.ListGenreFilmController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ListFilmController</servlet-name>
        <servlet-class>edu.sstu.controller.ListFilmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGenreController</servlet-name>
        <servlet-class>edu.sstu.controller.ListGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFilmController</servlet-name>
        <servlet-class>edu.sstu.controller.AddFilmController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddGenreController</servlet-name>
        <servlet-class>edu.sstu.controller.AddGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseController</servlet-name>
        <servlet-class>edu.sstu.controller.DatabaseController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListFilmController</servlet-name>
        <url-pattern>/filmList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGenreController</servlet-name>
        <url-pattern>/genreList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFilmController</servlet-name>
        <url-pattern>/addFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGenreController</servlet-name>
        <url-pattern>/addGenre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseController</servlet-name>
        <url-pattern>/createTables</url-pattern>
        </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteFilmController</servlet-name>
        <url-pattern>/DeleteFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGenreController</servlet-name>
        <url-pattern>/deleteGenre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFilmController</servlet-name>
        <url-pattern>/editFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFilmController</servlet-name>
        <url-pattern>/showFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGenreFilmController</servlet-name>
        <url-pattern>/filmGenreList</url-pattern>
    </servlet-mapping>

</web-app>
