<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>DatabaseController</servlet-name>
        <servlet-class>edu.sstu.ivcht.term2012.controller.DatabaseController</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>ListBrandController</servlet-name>
    <servlet-class>edu.sstu.ivcht.term2012.controller.ListBrandController</servlet-class>
</servlet>
    <servlet>
        <servlet-name>ListAutoController</servlet-name>
        <servlet-class>edu.sstu.ivcht.term2012.controller.ListAutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTypesController</servlet-name>
        <servlet-class>edu.sstu.ivcht.term2012.controller.ListTypesController</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>ListPackageController</servlet-name>
    <servlet-class>edu.sstu.ivcht.term2012.controller.ListPackageController</servlet-class>
</servlet>
    <servlet>
        <servlet-name>AddPackageController</servlet-name>
        <servlet-class>edu.sstu.ivcht.term2012.controller.AddPackageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>edu.sstu.ivcht.term2012.controller.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAutoController</servlet-name>
        <servlet-class>edu.sstu.ivcht.term2012.controller.AddAutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAutoController</servlet-name>
        <servlet-class>edu.sstu.ivcht.term2012.controller.EditAutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadAutoController</servlet-name>
        <servlet-class>edu.sstu.ivcht.term2012.controller.ReadAutoController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DatabaseController</servlet-name>
        <url-pattern>/createdatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBrandController</servlet-name>
        <url-pattern>/listbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAutoController</servlet-name>
        <url-pattern>/listauto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ListTypesController</servlet-name>
    <url-pattern>/listtypes</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPackageController</servlet-name>
        <url-pattern>/listpackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPackageController</servlet-name>
        <url-pattern>/addpackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAutoController</servlet-name>
        <url-pattern>/addauto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAutoController</servlet-name>
        <url-pattern>/editauto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadAutoController</servlet-name>
        <url-pattern>/readauto</url-pattern>
    </servlet-mapping>
</web-app>
