body {
    background: #efaee9 url('..\img\bg.jpg');
}

h1 {
   color: #fff;
}
 h6 {color: #ffffff;

 }

.info {
    font-style: italic;
    font-weight: bolder;
}

hr .full{
    width: 100%;
    color: #2356aa
}
