body {
    background: #efaee9 url('../img/bg.gif');

}

h1 {
   color: #fff;
}
 h6 {color: #ffffff;

 }

p {
    font-family: Arial;
    font-size: 8px;
    background-color: red;
    color: #adff2f;

}

.info {
    font-style: italic;
    font-weight: bolder;
}

hr .full{
    width: 100%;
    color: #2356aa
}
